.container {
  padding: 0;
}

.nav {
  display: flex;
  flex: 1;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid #eaeaea;
  justify-content: flex-start;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main {
  min-height: 100vh;
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 125px;
  gap: 0.8rem;
  background-color: #f7f8f9;
}

.tableCard {
  grid-row: span 3;
  grid-column: span 5;
  padding: 0 1em 1em 1em;
  overflow: visible;
}

.chartCard {
  grid-row: span 3;
  grid-column: span 6;
  padding: 0 1em 1em 1em;
  overflow: visible;
}

.chartTooltip {
  background: #fff;
  border-radius: 2px;
  margin: 0;
  padding: 0.3em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.tooltipCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.infoCard {
  grid-row: span 1;
  grid-column: span 2;
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
}

.infoCardContainer {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.5em;
}

.halfWidth {
  width: 50%;
}

.fullWidth {
  width: 100%;
}

.thirdWidth {
  width: 33%;
}

.infoCardValue {
  font-size: 1.8em;
  color: hsl(173, 74%, 39%);
  font-weight: 500;
  margin: 0;
}

.infoCardLabel {
  margin: 0;
}

.chartContainer {
  height: calc(100% - 50px);
}

.footer {
  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 1800px) {
  .tableCard {
    grid-column: span 6;
  }

  .infoCard {
    grid-column: span 4;
  }
}

@media (max-width: 1100px) {
  .chartCard {
    grid-column: span 12;
  }
}

@media (max-width: 1000px) {
  .tableCard {
    grid-column: span 12;
  }

  .infoCard {
    grid-column: span 6;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .infoCard {
    grid-column: span 12;
  }
}
