.container {
  padding: 0;
}

.nav {
  display: flex;
  flex: 1;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigationContainer {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 0.5em;
}

.navigationContainer p {
  cursor: pointer;
  transition: color 0.15s ease;
}

.navigationContainer p:hover {
  color: hsl(173, 74%, 39%);
}

.main {
  min-height: 100vh;
  margin-top: 4em;
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 125px;
  gap: 1rem;
}

.mainFlex {
  height: calc(100vh - 129px);
  margin-top: 4em;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainFlexOverview {
  min-height: calc(100vh - 129px);
  margin-top: 4em;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overviewContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  gap: 1em;
}

.tableCard {
  grid-row: span 3;
  grid-column: span 5;
}

.chartCard {
  grid-row: span 3;
  grid-column: span 6;
  overflow: visible;
}

.chartTooltip {
  margin: 0;
  padding: 0.3em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.tooltipCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.infoCard {
  grid-row: span 1;
  grid-column: span 2;
}

.infoCardContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.5em;
}

.halfWidth {
  width: 50%;
}

.fullWidth {
  width: 100%;
}

.thirdWidth {
  width: 33%;
}

.infoCardValue {
  font-size: 1.8em;
  color: hsl(173, 74%, 39%);
  font-weight: 500;
  margin: 0;
}

.infoCardLabel {
  margin: 0;
}

.chartContainer {
  height: calc(100% - 39px);
  padding: 2.3em 0.6em 0.6em 0.6em;
}

.pieChartContainer {
  height: calc(100% - 39px);
  padding: 0.6em;
}

.proposalTableCard h5 {
  margin-bottom: 0.2em;
}

.activeTag {
  border-radius: 3px;
  background-color: rgba(61, 127, 90, 0.8);
  color: white;
  padding: 1px 4px;
  margin: 0 5px;
}

.pendingTag {
  border-radius: 3px;
  background-color: rgba(175, 126, 53, 0.8);
  color: white;
  padding: 1px 4px;
  margin: 0 5px;
}

.archivedTag {
  border-radius: 3px;
  background-color: rgba(183, 183, 183, 0.8);
  color: white;
  padding: 1px 4px;
  margin: 0 10px;
}

.successfulArchivedTag {
  border-radius: 3px;
  background-color: rgba(143, 178, 140, 0.6);
  color: white;
  padding: 1px 4px;
  margin: 0 10px;
}

.unsuccessfulArchivedTag {
  border-radius: 3px;
  background-color: rgba(199, 144, 142, 0.6);
  color: white;
  padding: 1px 4px;
  margin: 0 10px;
}

.highImpactTag {
  border-radius: 3px;
  background-color: rgba(195, 74, 71, 0.8);
  color: white;
  padding: 1px 4px;
  margin: 0 5px;
}

.mediumImpactTag {
  border-radius: 3px;
  background-color: rgba(213, 162, 18, 0.8);
  color: white;
  padding: 1px 4px;
  margin: 0 5px;
}

.lowImpactTag {
  border-radius: 3px;
  background-color: rgba(13, 150, 0, 0.8);
  color: white;
  padding: 1px 4px;
  margin: 0 5px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1.2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: hsl(173, 74%, 39%);
}

.overviewCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overviewCardSubHeading {
  margin: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.75px;
  display: flex;
  color: white;
}

.overviewActiveTag {
  background-color: rgba(61, 127, 90, 0.8);
  padding: 0 0.7em;
  border-radius: 4px;
}

.overviewPendingTag {
  background-color: rgba(175, 126, 53, 0.8);
  padding: 0 0.7em;
  border-radius: 4px;
}

.cardDivider {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  opacity: 0.7;
}

.overviewText {
  margin: 0.5em;
  display: flex;
  gap: 0.5em;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 1800px) {
  .tableCard {
    grid-column: span 6;
  }

  .infoCard {
    grid-column: span 4;
  }
}

@media (max-width: 1100px) {
  .chartCard {
    grid-column: span 12;
  }
}

@media (max-width: 1000px) {
  .tableCard {
    grid-column: span 12;
  }

  .infoCard {
    grid-column: span 6;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .infoCard {
    grid-column: span 12;
  }
}
